@import "tailwindcss";



body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}